<div id="page-action-holder-left" data-tooltip="Filters" data-placement="top">
    <div id="open-filters">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="20px" y="20px" width="40px" height="40px" viewBox="0 0 80 80" xml:space="preserve">
                            <circle class="circle-action is-inner" cx="40" cy="40" r="36" />
            <circle class="circle-action is-outer" cx="40" cy="40" r="36" />
                        </svg>
        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
        <div class="circle-line"></div>
    </div>
</div>

<div id="page-action-holder-right" data-tooltip="Go Top" data-placement="top">
    <div id="scrolltotop">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="10px" y="10px" width="40px" height="40px" viewBox="0 0 80 80" xml:space="preserve">
                            <circle class="circle-action is-inner" cx="40" cy="40" r="36" />
            <circle class="circle-action is-outer" cx="40" cy="40" r="36" />
                        </svg>
        <i class="fa fa-chevron-up" aria-hidden="true"></i>
        <div class="circle-line"></div>
    </div>
</div>