<ul class="socials-text">
    <li><a href="https://www.facebook.com/clapat.ro" target="_blank"><i class="fa fa-facebook"></i></a></li>
    <li><a href="https://www.twitter.com/clapatdesign" target="_blank"><i class="fa fa-twitter"></i></a></li>
    <li><a href="https://www.dribbble.com/clapat" target="_blank"><i class="fa fa-dribbble"></i></a></li>
    <li><a href="https://www.behance.net/clapat" target="_blank"><i class="fa fa-behance"></i></a></li>
</ul>

<p class="copyright">2018 © <a target="_blank" href="https://www.clapat.com/themes/wizzard/">Wizzard Theme</a>.
    Design by <a target="_blank" href="https://www.clapat.com/">Clapat</a>.</p>