<!-- Header -->
<header class="scroll-hide">
    <div id="header-container">

        <!-- Logo -->
        <div id="logo">
            <a class="ajax-link" data-type="page-transition" href="/">
                <img class="black-logo" src="images/logo.png" alt="ClaPat Logo">
                <img class="white-logo" src="images/logo-white.png" alt="ClaPat Logo">
            </a>
        </div>
        <!--/Logo -->

        <div class="menu-info">Works</div>

        <!-- Menu Burger -->
        <div id="burger-wrapper">
            <div id="burger-circle"></div>
            <div id="menu-burger">
                <span></span>
                <span></span>
            </div>
        </div>
        <!--/Menu Burger -->

    </div>
</header>
<!--/Header -->
