<div class="preloader-wrap">
    <div class="outer">
        <div class="inner">
            <div class="percentage" id="precent"></div>
            <div class="preloader-text">We are a digital and creative agency <span>Wizzard Studio</span></div>
        </div>
    </div>
</div>