<!-- Menu Overlay -->
<div id="menu-overlay">

    <div id="close-menu"></div>

    <div class="outer">
        <div class="inner">

            <nav>
                <ul class="main-menu">
                    <li class="mp active"><a class="ajax-link menu-link" data-type="page-transition" href="index.html"><span></span>Home</a></li>
{#                    <li class="mp has-sub"><a href="/works"><span></span>Portfolio</a>#}
{#                        <ul>#}
{#                            <li><a class="ajax-link" data-type="page-transition" href="portfolio.html">Visible Text</a></li>#}
{#                            <li><a class="ajax-link" data-type="page-transition" href="portfolio1.html">Black Overlay</a></li>#}
{#                        </ul>#}
{#                    </li>#}
                    <li class="mp"><a class="menu-link" href="/works"><span></span>Works</a></li>
                    <li class="mp"><a class="ajax-link menu-link" data-type="page-transition" href="about.html"><span></span>About</a></li>
                    <li class="mp"><a class="ajax-link menu-link" data-type="page-transition" href="contact.html"><span></span>Contact</a></li>
                </ul>
            </nav>


        </div>
    </div>

</div>
<!-- Menu Overlay -->